#map-container {
    margin: 0 auto;
    width: 60rem;
    height: 35rem;
    overflow: hidden;
}

@media only screen and (max-width: 960px) {
    #map-container {
      height: 25rem;
      width: 43rem;
    }
  }

  @media only screen and (max-width: 680px) {
    #map-container {
      height: 35rem;
      width: 30rem;
    }
  }

